.title{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 50px;
    left: 50%;
    transform: translate(-50%);
}

#counter{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 40px;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
}